<!DOCTYPE html>
<html>
  <head>
    <title>Piwam</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'admin/base', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <h1>Admin</h1>
    <%= yield %>
  </body>
</html>
