<!DOCTYPE html>
<html>
  <head>
    <title>Piwam</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'admin/base', 'data-turbo-track': 'reload' %>
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div id="container">
      <div id="header">
        <a href="#" id="btn-show-sidebar">
          <i class="fas fa-bars"></i>
        </a>
        <h1>Piwam</h1>
      </div>

      <div class="is-flex">
        <%= render 'sidebar' %>

        <div id="content">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
