<div id="sidebar">
  <div class="header">
    <h1>Piwam</h1>
    <a href="#" id="btn-hide-sidebar">
      <i class="fas fa-times"></i>
    </a>
  </div>

  <div class="body">
    <div class="menu">
      <h3>Configuration</h3>
      <ul>
        <li><%= link_to 'About', '#' %></li>
        <li><%= link_to 'Preferences', '#' %></li>
      </ul>

      <h3>Members</h3>
      <ul>
        <li><%= link_to 'Manage members', '#' %></li>
        <li><%= link_to 'Geographic location', '#' %></li>
        <li><%= link_to 'Trombinoscope', '#' %></li>
        <li><%= link_to 'Manage statuses', admin_statuses_path %></li>
      </ul>

      <h3>Contributions</h3>
      <ul>
        <li><%= link_to 'Manage contributions', '#' %></li>
        <li><%= link_to 'Contribution types', '#' %></li>
      </ul>

      <h3>Accounting</h3>
      <ul>
        <li><%= link_to 'Activities', '#' %></li>
        <li><%= link_to 'Accounts', '#' %></li>
        <li><%= link_to 'Expenses', '#' %></li>
        <li><%= link_to 'Incomes', '#' %></li>
        <li><%= link_to 'Balance sheet', '#' %></li>
      </ul>

      <h3>Features</h3>
      <ul>
        <li><%= link_to 'Sign out', '#' %></li>
        <li><%= link_to 'Export data', '#' %></li>
        <li><%= link_to 'Mailings', '#' %></li>
        <li><%= link_to 'Report a bug', '#' %></li>
        <li><%= link_to 'Installation', '#' %></li>
        <li><%= link_to 'Update', '#' %></li>
      </ul>
    </div>
  </div>
</div>