<%= form_with(model: [:admin, status]) do |form| %>
  <%= render 'error_messages', target: status %>

  <div class="field">
    <%= form.label :label %>
    <%= form.text_field :label %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
