<p id="notice"><%= notice %></p>

<h1>Status</h1>

<table id="statuses">
  <thead>
    <tr>
      <th>Label</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @statuses.each do |status| %>
      <tr id="<%= dom_id status %>">
        <td><%= status.label %></td>
        <td><%= link_to 'Show', [:admin, status] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New status', new_admin_status_path %>
